{% extends 'base_template.html' %} {% block title %} Welcome to My blog {%
    endblock %} {% block main %}
    <div class="container">
       <div class="col-sm-12 col-md-12 p-0 image-container" id="image">
        <img
          src="../../static/images/samurai.jpg"
          class="custom-image rounded"
          alt="samurai"
        />
      </div>
      <h2 class="text-primary text-center">Want to write, get in contact with us</h2>
      <p class="text-center">Send as an email <a href="mailto:desmends27@gmail.com">Author</a></p>
    </div>
{% endblock %} 
{% block footer %} 
    
{% endblock %} 

{% block script %}
{% endblock%}